<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Specification pages</title>
</head>

<body>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<table width="950" height="257">
		<tr>
			<td colspan="2"><p><img src="../images/banner.jpg" width="950" height="150" alt="Banner " /></p>
				<p>&nbsp;</p></td>
		</tr>
		<tr>
			<td><p><a href="../Homepage.html">Home Page </a></p>
				<p><a href="../who-we-are.html">Who we are</a></p>
				<p><a href="../items-on-sale/">Items on sale</a> <a href="../items-on-sale/beretta.html">Beretta</a> <a href="../items-on-sale/sig-sauer.html">Sig sauer</a> <a href="../items-on-sale/heckler&amp;koch.html">Heckler and loch</a> <a href="../items-on-sale/walther.html">Walther</a></p>
				<p><a href="../outdoor-shooting-range-locations/">Outdoor shooting				</a><a href="../outdoor-shooting-range-locations/east-cost.html">East cost</a> <a href="../outdoor-shooting-range-locations/midwest.html">Midwest</a> <a href="../outdoor-shooting-range-locations/west-coast.html">West coast</a> <a href="../outdoor-shooting-range-locations/new-england-area.html">New England</a></p></td>
			<td><!-- TemplateBeginEditable name="EditRegion1" -->Content<!-- TemplateEndEditable --></td>
		</tr>
		<tr>
			<td colspan="2"><img src="../images/footer.jpg" width="950" height="150" alt="footer" /></td>
		</tr>
	</table>
	<p>&nbsp;</p>
</body>
</html>
